{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Espace admin</h1>

    Espace admin :
    <ul>
        <li><a href="{{ path('user_index') }}">CRUD User</a></li>
        <li><a href="{{ path('message_index') }}">CRUD Message</a></li>
    </ul>
</div>
{% endblock %}
