{% extends 'base.html.twig' %}



{% block title %}Heller {% endblock %}


{% block body %}

    {% for message in app.flashes('registration_success') %}
        <div class="flash_registration_success">
            {{ message }}
        </div>
    {% endfor %}
    
    <h1> Page Home </h1>
    <br>

    <div class="homepage_container">
        <div class="left"> </div>
        
        <div class="right">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <h3> Actu </h3>
            <br>
            <p> Affichage des actus d'amis </p>
        {% else %}
            <div class="container_registration"> 
                {{ form_start(formRegistration) }}
                {{ form_widget(formRegistration) }}
                {{ form_end(formRegistration) }}
            </div>
        {% endif %}
        </div>
    </div>

{% endblock %}
